.singlePost {
  flex: 9;
  margin: 20px;
  height: 90vh;
}

.single-post-wrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.single-post-title {
  text-align: center;

  margin: 10px;
  font-size: 28px;
}

.singlePost-edit {
  float: right;
  font-size: 16px;
}

.singlePost-icon {
  float: right;
  margin-left: 10px;
  cursor: pointer;
}

.singlePost-icon:first-child {
  color: teal;
}

.singlePost-icon:last-child {
  color: tomato;
}

.singlePost-info {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #b39656;
}

.singlePostDesc {
  margin-left: 20px;
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc:first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDescInput:focus {
  outline: none;
}
.singlePostButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .singlePost {
    justify-content: center;
  }

  .singlePost-icon {
    font-size: 20px;
    margin: 5px;
  }

  .singlePost-info {
    font-size: 12px;
  }

  .single-post-title {
    font-size: 20px;
  }

  .singlePostDesc {
    font-size: 12px;
    line-height: 20px;
  }
}
